.header__logout-button {
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  padding: 7px;
  width: 60px;
  height: 60px;
  margin-left: auto;
}

@media screen and (max-width: 480px) {
  .header__logout-button {
    width: 42px;
    height: 42px;
    margin-right: 7px;
  }
}